canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
body {
	font-family: 'noto sans';
	background-color: black;
	color: white;
	margin: 0;
}
a {
	color: #aaaabb;
}
a:hover {
	cursor: pointer;
}

h1 {
	color: #999999;
	font-weight: 500;
	top: 0;
	margin-left: 20px;
	margin-bottom: 5px;
	position:fixed;
}

h2 {
	font-weight: 500;
	font-size: 17px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
	margin-right: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: grey;
}

button {
	color: white;
	background-color: #00000080;
	border-style: solid;
	border-radius: 7px;
	padding: 5px;
	transition: 30ms;
	border-width: 2px;
}
button:hover {
	background-color: #77777780;
}
button:active {
	border-color: black;
}
input {
	background-color: #00000000;
	color: white;
	border-style: solid;
	border-radius: 7px;
	width: 100px;
	padding: 5px;
}
input:invalid {
	background-color: #a8272799;
}

input[type="range"] {
	width: 170px
}

.controls_frame {
	margin: 2px;
	margin: 20px;
	padding: 14px;
	width: 220px;
	border-color: grey;
	border-width: 1px;
	border-radius: 7px;
	background-color: #11111100;
	border-style: solid;
	z-index: 1;
	transition: 100ms;
	overflow: hidden;
	/* transition-delay: 500ms; */
}

.controls_scrollbox {
	overflow: scroll;
	height: inherit;
}

.controls {
	/* overflow: auto; */
	/* height: 800px; */
	/* position: fixed; */
	padding-bottom: 20px;
	font-size: 17px;
	color: white;
	z-index: 1;
}

.controls_frame:hover, :focus {
	background-color: #111111da;
	transition-delay: 0s;
}

#atmo_params {
	/* position: fixed; */
	height: 35vh;
	margin-top: 70px;
}
/* #atmo_params:hover{
	height: 80vh;
	z-index: 2;
} */

#render_params {
	/* position: fixed; */
	bottom:0;
	height: 35vh;
}
/* #render_params:hover{
	height: 80vh;
	z-index: 2;
} */


.info_pane {
	position: fixed;
	bottom: 0;
	right: 1%;
	width: 100%;
	font-family: 'noto sans';
	font-size: 13px;
	color: grey;
	margin-bottom: 10px;
	text-align:right;
}

.small_text {
	font-size: 11px;
}

.help_display {
	font-size: 16px;
	color: #ababab;
}
#main_page {
	position:fixed;
}

#loading_screen {
	font-size: 100px;
	color: white;
	top: 0;
	left: 0;
	display: flex;
	position: fixed;
	color: white;
	border-width: 20px;
	border-color: white;
	border-radius: 50%;
	align-items: center;
	align-content: center;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

#noscript{
	padding: 20px;
	color: white;
	background-color: black;
	z-index: 10;
	position: fixed;
	font-size: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}