canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
body {
	font-family: 'noto sans';
	background-color: black;
	color: white;
	margin: 0;
}
a {
	color: #aaaabb;
}
a:hover {
	cursor: pointer;
}

h1 {
	color: #999999;
	font-weight: 500;
	margin-left: 20px;
	margin-bottom: 5px;
}

button {
	color: white;
	background-color: #00000080;
	border-style: solid;
	border-radius: 7px;
	padding: 5px;
	transition: 30ms;
	border-width: 2px;
}
button:hover {
	background-color: #77777780;
}
button:active {
	border-color: black;
}
input {
	background-color: black;
	color: white;
	border-style: solid;
	border-radius: 7px;
	width: 100px;
	padding: 5px;
}
input:invalid {
	background-color: #a82727d3;
}

.controls_scrollbox {
	margin: 2px;
	position: fixed;
	height: 600px;
	margin: 20px;
	padding: 20px;
	width: 230px;
	border-color: grey;
	border-width: 1px;
	border-radius: 7px;
	background-color: #111111da;
	border-style: solid;
	z-index: 2;
}

.controls {
	overflow: scroll;
	height: 800px;
	/* position: fixed; */
	font-size: 20px;
	color: white;
	z-index: 1;
}

.info_pane {
	position: fixed;
	bottom: 0;
	right: 1%;
	width: 100%;
	font-family: 'noto sans';
	font-size: 13px;
	color: grey;
	margin-bottom: 10px;
	text-align:right;
}

.small_text {
	font-size: 11px;
}

.help_display {
	font-size: 16px;
	color: #ababab;
}

#loading_screen {
	font-size: 100px;
	color: white;
	top: 0;
	left: 0;
	display: flex;
	position: fixed;
	color: white;
	border-width: 20px;
	border-color: white;
	border-radius: 50%;
	align-items: center;
	align-content: center;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

#noscript{
	padding: 20px;
	color: white;
	background-color: black;
	z-index: 10;
	position: fixed;
	font-size: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}